$fs: 40px
$lh: 50px
$breakpoint: 640px

+global-reset()

html
  +box-sizing(border-box)

*,
*:before,
*:after
  box-sizing: inherit

body
  background-color: black
  color: white
  font-size: $fs
  font-family: 'unionregular', serif
  line-height: $lh
  text-rendering: optimizeLegibility
  text-transform: uppercase
  letter-spacing: 1px
  -webkit-font-smoothing: antialiased
  padding: $lh * 1.5
  @media (max-width: $breakpoint)
    padding: $lh
    font-size: $fs / 2
    line-height: $lh / 2

a
  display: block
  width: 100%
  height: 100%
  color: white
  text-decoration: none

p
  margin: 0
